# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

# Exercise 1

In [2]:
x = range(1,11)
print(list(x))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [3]:
# Exercise 2
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')


---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [4]:
# Exercise 3
x = [10, 20, 30, 40]
y = tuple(x)
print(y)

(10, 20, 30, 40)


---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [5]:
# Exercise 4
x = {1, 2, 3, 4, 5}
print(x)

{1, 2, 3, 4, 5}


---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [6]:
# Exercise 5
student = {"name": "Alice", "age": 20, "grade": "A"}
print(student)

{'name': 'Alice', 'age': 20, 'grade': 'A'}


---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [7]:
# Exercise 6
x = [10, 20, 30, 40, 50]
y = x[1]
print(y)

20


---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [8]:
# Exercise 7
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']


---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [10]:
# Exercise 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 5, 6}


---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [12]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
print(person)

{'name': 'John', 'city': 'New York'}


---

### Exercise 10:
Create a range object starting from 0 to 9.

In [15]:
# Exercise 10
x = list(range(10))
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]


---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [16]:
# Exercise 11
x = [x**2 for x in range(1, 11)]
print(x)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [18]:
# Exercise 12
x = tuple(x for x in range(2, 11, 2))
print(x)

(2, 4, 6, 8, 10)


---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [19]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry


---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

In [22]:
# Exercise 14
x = {1, 2, 3, 4, 5}
y = 3 in x
print(y, "exists")

True exists


---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

In [23]:
# Exercise 15
numbers = (10, 20, 30)
y = len(numbers)
print(y)

3


---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

In [24]:
# Exercise 16
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]


---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [25]:
# Exercise 17
def sum_list(x):
    return sum(x)


---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

In [27]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
unique = set(numbers)
print(unique)

{1, 2, 3, 4, 5}


---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

In [28]:
# Exercise 19
x = list("hello")
print(x)

['h', 'e', 'l', 'l', 'o']


---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [30]:
# Exercise 20
def reverse_tuple(t):
    return t[::-1]

print(reverse_tuple((1, 2, 3, 4)))

(4, 3, 2, 1)


---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

In [31]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
merged = {**dict1, **dict2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [32]:
# Exercise 22
x = {x: x**2 for x in range(1, 6)}
print(x)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}


---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

In [33]:
# Exercise 23
x = [("a", 1), ("b", 2), ("c", 3)]
y = dict(x)
print(y)

{'a': 1, 'b': 2, 'c': 3}


---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

In [34]:
# Exercise 24
x = [chr(ord('a') + i) for i in range(5)]
print(x)

['a', 'b', 'c', 'd', 'e']


---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

In [35]:
# Exercise 25
x = [1, 2, 3]
y = ["a", "b", "c"]
z = list(zip(x, y))
print(z)

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

In [36]:
# Exercise 26
x = [10, 20, 30, 40, 50]
y = x.index(50)
print(y)

4


---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [37]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']


---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [38]:
# Exercise 28
def find_largest(lst):
    return max(lst)

print(find_largest([1, 5, 3, 9, 2]))

9


---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [39]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
y = fruits.count("apple")
print(y)

2


---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

In [40]:
# Exercise 30
person = {"name": "Alice", "age": 25, "city": "New York"}
city = person["city"]
print(city)

New York


---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

In [41]:
# Exercise 31
def remove_duplicates(x):
    return list(set(x))

print(remove_duplicates([1, 2, 2, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]


---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

In [42]:
# Exercise 32
def list_intersection(x, y):
    return list(set(x) & set(y))

print(list_intersection([1, 2, 3, 4], [3, 4, 5, 6]))

[3, 4]


---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

In [43]:
# Exercise 33
def squares_generator():
    for i in range(1, 11):
        yield i**2

print(list(squares_generator()))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]


---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

In [44]:
# Exercise 34
def vvvalues(x):
    return sum(x.values())

print(vvvalues({"a": 1, "b": 2, "c": 3}))

6


---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

In [45]:
# Exercise 35
x = [3, 1, 4, 1, 5, 9]
y = sorted(x)
print(y)

[1, 1, 3, 4, 5, 9]


---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [46]:
# Exercise 36
def find_longest_string(x):
    return max(x, key=len)

print(find_longest_string(["apple", "banana", "cherry"]))

banana


---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

In [47]:
# Exercise 37
x = [1, 2, 3, 4, 5]
y = all(x > 0 for x in numbers)
print(y)

True


---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [48]:
# Exercise 38
numbers = [(x, x**2) for x in range(1, 6)]
print(numbers)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]


---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [49]:
# Exercise 39
def python (x):
    return [t[1] for t in x]

print(python([(1, 2), (3, 4), (5, 6)]))

[2, 4, 6]


---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [50]:
# Exercise 40
def flatten(x):
    return [item for sublist in x for item in sublist]

print(flatten([[1, 2], [3, 4], [5, 6]]))

[1, 2, 3, 4, 5, 6]


---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [51]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(f"Index {index}: {fruit}")

Index 0: apple
Index 1: banana
Index 2: cherry


---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [52]:
# Exercise 42
def mary(t):
    return len(t) == 0

print(mary(()), mary((1, 2)))

True False


---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [54]:
# Exercise 43
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]


---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [55]:
# Exercise 44
def reverse_list(x):
    return x[::-1]

print(reverse_list([1, 2, 3, 4, 5]))

[5, 4, 3, 2, 1]


---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [57]:
# Exercise 45
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}


---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [58]:
# Exercise 46
x = [1, 2, 2, 3, 4, 4, 5]
y = list(set(x))
print(y)

[1, 2, 3, 4, 5]


---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [59]:
# Exercise 47
def xxxxxx(y, key):
    return [d[key] for d in y if key in d]

dicts = [{"name": "Alice", "age": 25}, {"name": "Bob", "age": 30}]
print(xxxxxx(dicts, "name"))

['Alice', 'Bob']


---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

In [60]:
# Exercise 48
def chance(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

print(list(chance(10)))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [61]:
# Exercise 49
def chance(s):
    return list(set(s))

print(chance("hello"))

['e', 'o', 'h', 'l']


---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

In [63]:
# Exercise 50
def chance(x, y):
    merged = []
    i = j = 0

    while i < len(x) and j < len(y):
        if x[i] < y[j]:
            merged.append(x[i])
            i += 1
        else:
            merged.append(y[j])
            j += 1

    merged.extend(x[i:])
    merged.extend(y[j:])

    return merged

a = [1, 3, 5]
b = [2, 4, 6]
print(chance(a, b))

[1, 2, 3, 4, 5, 6]


---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

In [64]:
# Exercise 51
x = [1, 2, 3, 4, 5, 6]
y = list(filter(lambda x: x % 2 == 0, y))

print(y)

[2, 4]


---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

In [65]:
# Exercise 52
x = [(1, 2), (3, 4), (5, 6)]
y = dict(x)
print(y)

{1: 2, 3: 4, 5: 6}


---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

In [66]:
# Exercise 53
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

print(symmetric_difference({1, 2, 3}, {3, 4, 5}))

{1, 2, 4, 5}


---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

In [67]:
# Exercise 54
def common_elements_three_lists(lst1, lst2, lst3):
    return list(set(lst1) & set(lst2) & set(lst3))

print(common_elements_three_lists([1, 2, 3], [2, 3, 4], [3, 4, 5]))

[3]


---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

In [68]:
# Exercise 55
def factorial(n):
    if n <= 1:
        return 1
    return n * factorial(n - 1)

print(factorial(5))

120


---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

In [70]:
# Exercise 56
fruits = ["apple", "", "banana", "", "cherry"]
y = list(filter(None, fruits))

print(y)

['apple', 'banana', 'cherry']


---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

In [71]:
# Exercise 57
def swap_keys_values(d):
    return {value: key for key, value in d.items()}

original_dict = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = swap_keys_values(original_dict)

print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}


---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

In [72]:
# Exercise 58
def filter_even_numbers(lst):
    return [x for x in lst if x % 2 == 0]

print(filter_even_numbers([1, 2, 3, 4, 5, 6]))

[2, 4, 6]


---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

In [73]:
# Exercise 59
def get_first_elements(tuples_list):
    return [t[0] for t in tuples_list]

print(get_first_elements([(1, 2), (3, 4), (5, 6)]))

[1, 3, 5]


---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

In [74]:
# Exercise 60
def remove_duplicates_preserve_order(x):
    seen = set()
    result = []
    for item in x:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result

print(remove_duplicates_preserve_order([1, 2, 2, 3, 1, 4]))

[1, 2, 3, 4]


---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

In [75]:
# Exercise 61
x = ["apple", "banana", "cherry"]
y = list(map(len, x))
print(y)

[5, 6, 6]


---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

In [76]:
# Exercise 62
def average(x):
    return sum(x) / len(x) if x else 0

print(average([1, 2, 3, 4, 5]))

3.0


---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

In [77]:
# Exercise 63
def fibonacci_list(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    
    fib = [0, 1]
    for i in range(2, n):
        fib.append(fib[i-1] + fib[i-2])
    return fib

print(fibonacci_list(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]


---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

In [80]:
# Exercise 64
from collections import Counter

fruits = ["apple", "banana", "apple", "cherry"]
count = Counter(fruits)

print(dict(count))

{'apple': 2, 'banana': 1, 'cherry': 1}


---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

In [81]:
# Exercise 65
def remove_all_occurrences(x, value):
    return [x for x in x if x != value]

print(remove_all_occurrences([1, 2, 3, 2, 4, 2], 2))

[1, 3, 4]


---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

In [83]:
# Exercise 66
def strings_starting_with_vowel(strings):
    vowels = ('a', 'e', 'i', 'o', 'u')
    return [s for s in strings if s and s[0].lower() in vowels]

x = ["apple", "banana", "orange", "umbrella", "grape", "Egg"]
y = strings_starting_with_vowel(x)
print(y)

['apple', 'orange', 'umbrella', 'Egg']


---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

In [84]:
# Exercise 67
x = {1, 2, 3, 4}
y = {3, 4, 5, 6}
z = x.intersection(y)
print(z)

{3, 4}


---

### Exercise 68:
Write a Python function that flattens a nested list.

In [87]:
# Exercise 68
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list
nested = [1, [2, 3], [4, [5, 6]], 7]
print(flatten(nested))

[1, 2, 3, 4, 5, 6, 7]


---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

In [86]:
# Exercise 69
def all_unique(x):
    return len(x) == len(set(x))

print(all_unique([1, 2, 3, 4]), all_unique([1, 2, 2, 3]))

True False


---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

In [89]:
# Exercise 70
from functools import reduce

def multiply_all(t):
    return reduce(lambda x, y: x * y, t, 1)

print(multiply_all([1, 2, 3, 4, 5]))

120


---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

In [90]:
# Exercise 71
def strings_to_length_dict(strings):
    return {s: len(s) for s in strings}

print(strings_to_length_dict(["apple", "banana", "cherry"]))

{'apple': 5, 'banana': 6, 'cherry': 6}


---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

In [91]:
# Exercise 72
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(1 for char in s if char in vowels)

print(count_vowels("hello world"))

3


---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

In [93]:
# Exercise 73
import math

def number_factorial_tuples(n):
    return [(i, math.factorial(i)) for i in range(1, n + 1)]

print(number_factorial_tuples(5))

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]


---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

In [94]:
# Exercise 74
def merge_dict_list(dict_list):
    result = {}
    for d in dict_list:
        result.update(d)
    return result

dicts = [{"a": 1, "b": 2}, {"c": 3, "d": 4}]
print(merge_dict_list(dicts))

{'a': 1, 'b': 2, 'c': 3, 'd': 4}


---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

In [95]:
# Exercise 75
def is_subset(x, y):
    return x.issubset(y)

print(is_subset({1, 2}, {1, 2, 3, 4}))

True


---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

In [96]:
# Exercise 76
def sort_by_second_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

tuples = [(1, 3), (2, 1), (3, 2)]
print(sort_by_second_element(tuples))

[(2, 1), (3, 2), (1, 3)]


---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

In [97]:
# Exercise 77
def filter_positive(mono):
    return [x for x in mono if x > 0]

print(filter_positive([-1, 0, 1, 2, -3, 4]))

[1, 2, 4]


---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

In [98]:
# Exercise 78
def set_union(x, y):
    return x.union(y)

print(set_union({1, 2, 3}, {3, 4, 5}))

{1, 2, 3, 4, 5}


---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

In [99]:
# Exercise 79
def product_of_numbers(mono):
    return reduce(lambda x, y: x * y, mono, 1)

print(product_of_numbers([1, 2, 3, 4]))

24


---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

In [100]:
# Exercise 80
def chars_to_string(char_list):
    return ''.join(char_list)

print(chars_to_string(['h', 'e', 'l', 'l', 'o']))

hello


---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

In [101]:
# Exercise 81
def second_largest(x):
    unique_nums = list(set(x))
    unique_nums.sort(reverse=True)
    return unique_nums[1] if len(unique_nums) > 1 else None

print(second_largest([1, 3, 4, 5, 2]))

4


---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

In [102]:
# Exercise 82
def sorted_dict_keys(x):
    return sorted(x.keys())

print(sorted_dict_keys({"c": 3, "a": 1, "b": 2}))

['a', 'b', 'c']


---

### Exercise 83:
Write a Python program that finds the most common element in a list.

In [103]:
# Exercise 83
def most_common_element(x):
    return Counter(x).most_common(1)[0][0]

print(most_common_element([1, 2, 2, 3, 3, 3]))

3


---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

In [104]:
# Exercise 84
def sort_tuples_by_first(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

tuples = [(3, 1), (1, 2), (2, 3)]
print(sort_tuples_by_first(tuples))

[(1, 2), (2, 3), (3, 1)]


---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [105]:
# Exercise 85
def remove_duplicate_dicts(dict_list):
    seen = set()
    result = []
    for d in dict_list:
        dict_tuple = tuple(sorted(d.items()))
        if dict_tuple not in seen:
            seen.add(dict_tuple)
            result.append(d)
    return result

dicts = [{"a": 1}, {"b": 2}, {"a": 1}, {"c": 3}]
print(remove_duplicate_dicts(dicts))

[{'a': 1}, {'b': 2}, {'c': 3}]


---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

In [106]:
# Exercise 86
def min_max(x):
    return (min(x), max(x))

print(min_max([1, 5, 3, 9, 2]))

(1, 9)


---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

In [107]:
# Exercise 87
def lists_to_tuples(x, y):
    return list(zip(x, y))

print(lists_to_tuples([1, 2, 3], ['a', 'b', 'c']))

[(1, 'a'), (2, 'b'), (3, 'c')]


---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

In [108]:
# Exercise 88
def reverse_string_order(x):
    return x[::-1]

print(reverse_string_order(["apple", "banana", "cherry"]))

['cherry', 'banana', 'apple']


---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

In [110]:
# Exercise 89
def sum_odd_numbers(mono):
    return sum(x for x in mono if x % 2 == 1)

print(sum_odd_numbers([1, 2, 3, 4, 5, 6]))

9


---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

In [111]:
# Exercise 90
def is_palindrome(x):
    x = x.lower().replace(" ", "")
    return x == x[::-1]

print(is_palindrome("racecar"), is_palindrome("hello"))

True False


---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

In [112]:
# Exercise 91
def find_median(x):
    sorteddd = sorted(x)
    n = len(sorteddd)
    mid = n // 2
    if n % 2 == 0:
        return (sorteddd[mid - 1] + sorteddd[mid]) / 2
    return sorteddd[mid]

print(find_median([1, 3, 5, 2, 4]))

3


---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

In [113]:
# Exercise 92
def sum_dict_values_by_key(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

dicts = [{"a": 1, "b": 2}, {"a": 3, "c": 4}, {"b": 1, "c": 2}]
print(sum_dict_values_by_key(dicts))

{'a': 4, 'b': 3, 'c': 6}


---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

In [114]:
# Exercise 93
def calculate_mode(x):
    counts = Counter(x)
    max_count = max(counts.values())
    modes = [k for k, v in counts.items() if v == max_count]
    return modes[0] if len(modes) == 1 else modes

print(calculate_mode([1, 2, 2, 3, 3, 3]))

3


---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

In [116]:
# Exercise 94
def sum_of_squares(lst):
    return sum(x**2 for x in lst)

print(sum_of_squares([1, 2, 3, 4]))

30


---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

In [117]:
# Exercise 95
def number_cube_tuples(n):
    return [(i, i**3) for i in range(1, n + 1)]

print(number_cube_tuples(5))

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]


---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

In [118]:
# Exercise 96
def primes_up_to(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

print(primes_up_to(20))

[2, 3, 5, 7, 11, 13, 17, 19]


---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [119]:
# Exercise 97
def common_keys(dict1, dict2):
    return list(set(dict1.keys()) & set(dict2.keys()))

dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "c": 5, "d": 6}
print(common_keys(dict1, dict2))

['c', 'b']


---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [120]:
# Exercise 98
def filter_long_strings(strings):
    return [s for s in strings if len(s) > 5]

print(filter_long_strings(["apple", "banana", "hi", "cherry"]))

['banana', 'cherry']


---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [121]:
# Exercise 99
def strings_to_tuples_with_length(strings):
    return [(s, len(s)) for s in strings]

print(strings_to_tuples_with_length(["apple", "banana", "cherry"]))

[('apple', 5), ('banana', 6), ('cherry', 6)]


---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [122]:
# Exercise 100
def sum_dict_values(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            if key in result:
                result[key] += value
            else:
                result[key] = value
    return result

dicts = [
    {"a": 1, "b": 2},
    {"a": 3, "b": 4, "c": 5},
    {"a": 2, "c": 7}
]

print(sum_dict_values(dicts))

{'a': 6, 'b': 6, 'c': 12}


---